import os
basedir = os.path.abspath(os.path.dirname(__file__))

# BASIC APP CONFIG
WTF_CSRF_ENABLED = True
SECRET_KEY = '{{ getenv "PDNS_ADMIN_SECRET" }}'
PORT = 80
LOGIN_TITLE = '{{ getenv "LOGIN_TITLE" }}'

TIMEOUT = 10

# LOG CONFIG 
LOG_LEVEL = '{{ getenv "PDNS_ADMIN_LOG_LEVEL" }}'
LOG_FILE = ''

# Upload
UPLOAD_DIR = os.path.join(basedir, 'upload')

# DATABASE CONFIG
SQLALCHEMY_DATABASE_URI = 'postgresql://{{ getenv "POSTGRES_USER" }}:{{ getenv "POSTGRES_PASSWORD" }}@{{ getenv "POSTGRES_HOST" }}/powerdnsadmin'
SQLALCHEMY_MIGRATE_REPO = os.path.join(basedir, 'db_repository')
SQLALCHEMY_TRACK_MODIFICATIONS = True

# LDAP CONFIG
LDAP_TYPE = '{{ getenv "LDAP_TYPE" "ldap" }}'
LDAP_URI = '{{ getenv "LDAP_URI" }}'
LDAP_USERNAME = '{{ getenv "LDAP_USER" }}'
LDAP_PASSWORD = '{{ getenv "LDAP_PASSWORD" }}'
LDAP_SEARCH_BASE = '{{ getenv "LDAP_SEARCH" }}'
LDAP_USERNAMEFIELD = '{{ getenv "LDAP_USERNAMEFIELD" }}'
LDAP_FILTER = '{{ getenv "LDAP_FILTER" }}'

# Github Oauth
GITHUB_OAUTH_ENABLE = {{ getenv "GITHUB_OAUTH_ENABLE" "False" }}
GITHUB_OAUTH_KEY = '{{ getenv "GITHUB_OAUTH_KEY" }}'
GITHUB_OAUTH_SECRET = '{{ getenv "GITHUB_OAUTH_SECRET" }}'
GITHUB_OAUTH_SCOPE = '{{ getenv "GITHUB_OAUTH_SCOPE" "email" }}'
GITHUB_OAUTH_URL = '{{ getenv "GITHUB_OAUTH_URL" "https://github.com/api/v3/" }}'
GITHUB_OAUTH_TOKEN = '{{ getenv "GITHUB_OAUTH_TOKEN" "https://github.com/oauth/token" }}'
GITHUB_OAUTH_AUTHORIZE = '{{ getenv "GITHUB_OAUTH_AUTHORIZE" "https://github.com/oauth/authorize" }}'

#Default Auth
BASIC_ENABLED = {{ getenv "BASIC_ENABLED" "True" }}
SIGNUP_ENABLED = {{ getenv "SIGNUP_ENABLED" "True" }}

# POWERDNS CONFIG
PDNS_STATS_URL = '{{ getenv "PDNS_STATS_URL" }}'
PDNS_API_KEY = '{{ getenv "PDNS_API_KEY" }}'
PDNS_VERSION = '{{ getenv "PDNS_VERSION" }}'

# RECORDS ALLOWED TO EDIT
# If you change these values, please change in ./static/admin/pages/scripts/table-editable.js also
RECORDS_ALLOW_EDIT = ['A', 'AAAA', 'CNAME', 'SPF', 'PTR', 'MX', 'TXT']
